<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <h1>CSIS 228 WEB Applicatoin</h1>
        </header>
        <% if(user) { %>
        <p> Welcome, <%= user.name %></p>
    </body>
</html>